html{
  font-family:Arial, sans-serif;
  font-size:10px;
}
body{
  display:block;
  text-align:center;
  margin:1px;
  line-height:15px;
  color:#333;
  background-color:#eee;
}
main{
  margin:30px 8px;
  padding:10px;
}
h1{
  font-size:4rem;
  padding:1rem;
}
div{
  margin:2px;
  padding:2px;
}
img{
  display:block;
  max-width:100%;
  height:auto;
  margin:auto;
}
figcaption{
  font-style:italic;
  font-size:1.3rem;
  margin-top:0.7rem;
  display:block;
}
#subtitle{
  font-size:2rem;
  display:block;
  padding-top:10px;
}
ul{
  max-width:500px;
  display:block;
  text-align:left;
  margin: 0 auto 50px auto;
}
li{
  font-size:1.3rem;
  line-height:1.5rem;
  padding:1px;
}
h3{
  font-size:1.8rem;
}
a{
  cursor:pointer;
}